---
layout: default
title: "POTASIEPE - Giardiniere a Udine e Gorizia"
excerpt: "Giardiniere a Udine e Gorizia per progettazione e sistemazione giardini, potatura alberi e siepi, taglio erba, manutenzione del verde commerciale e industriale."
permalink: /
last_modified_at: 2019-01-02
---
<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://www.giardiniere-potasiepe.fvg.it/","potentialAction":{"@type":"SearchAction","target":"https://www.giardiniere-potasiepe.fvg.it/cerca/?q={search_term_string}","query-input":"required name=search_term_string"}}</script>
<div id="logo">
<img src="{{ site.baseurl }}/img/new-logo.png" alt="il logo di Potasiepe" title="il logo di Potasiepe">
</div>
<h1>Il giardiniere n. 1 in Friuli</h1>

<div class="carousel" >
  <img class="mySlides" src="{{ site.baseurl }}/img/slide1.jpg" alt="Ars topiaria: muro di siepe" />
  <img class="mySlides" src="{{ site.baseurl }}/img/slide2.jpg" alt="Piante da siepe in fioriera" />
  <img class="mySlides" src="{{ site.baseurl }}/img/slide3.jpg" alt="Come potare una siepe di ligustro" />
  <img class="mySlides" src="{{ site.baseurl }}/img/slide4.jpg" alt="Photinia Red Robin in vaso, altezza 2 m." />
  <img class="mySlides" src="{{ site.baseurl }}/img/slide5.jpg" alt="Come piantare una siepe" />
</div>

  <h2 class="text-center">Opera in un raggio di 40 km da Cervignano del Friuli</h2>
  <div class="page-content">
    <h3>Area Servita:</h3>
    <p>Il Giardiniere Potasiepe ha lavorato nei comuni di Udine, Spilimbergo, Aquileia, Codroipo, Fagagna, Latisana, Muggia,
    Manzano, Palmanova, San Giovanni al Natisone, Gorizia , Gradisca d'Isonzo, Grado, Monfalcone , Ronchi dei Legionari..</p>
    <p>Giardinaggio a <a href="/giardinaggio-udine/" title="Giardinaggio in provincia di Udine, giardiniere a Udine">
      <strong>Udine</strong></a>: Giardiniere per la provincia di Udine.</p>
    <p>Giardinaggio a <a href="/gorizia/" title="Giardinaggio in provincia di Gorizia, giardiniere a Gorizia">
      <strong>Gorizia</strong></a>: Giardiniere per la provincia di Gorizia.</p>

    <h3>Attrezzature e macchine da giardinaggio utilizzate</h3>
    <p>Che si tratti di curare un giardino privato, di manutenere un parco e di livellare e fresare un appezzamento di terra
      incolto ed abbandonato, il giardiniere PotaSiepe si avvale di macchine moderne ed efficienti. Decespugliatore, tagliaerba e trattorino per lo
      sfalcio hanno un motore a quattro tempi a benzina in regola con le nuove normative sull’inquinamento. <a href="/chi-sono/">Leggi tutto..</a></p>
  </div>
<br/>

<h2 class="text-center">Scopri tutti i servizi offerti da Potasiepe:</h2>

<div class="list-collection">
<ul>
	{% for servizi_giardinaggio in site.servizi_giardinaggio %}
		<li>
      <a href="{{ site.baseurl }}{{ servizi_giardinaggio.url }}" title="{{ servizi_giardinaggio.url }}">

				<h3><span class="name">{{ servizi_giardinaggio.name }}</span></h3>

				<img src="{% include relative-src.html src=servizi_giardinaggio.image_path %}" alt="{{ servizi_giardinaggio.url }}">

        <p><span class="position">{{ servizi_giardinaggio.subtitle }}</span></p>
			</a>
		</li>
	{% endfor %}

</ul>
</div>

<br/><br/>

<h3 class="text-center">COMPETENZA E PROFESSIONALITÀ A PREZZI ONESTI</h3>
<a href="/gallery/" title="gallery">
<img class="img-shop" src="img/giardiniere-PotaSiepe-mentre-esegue-una-potaura-di-siepe-di-tasso-a-quattro-metri.jpg" width="745" height="466" alt="Il giardiniere Potasiepe compie la potatura delle siepe in un giardino a Udine" title="lavori in giardino, potatura siepi">
</a>
<p class="text-center">Fotogallery - Giardiniere</p>

<br/><br/>

<div>

  <h2>Orto & Giardino</h2>
  <a href="/consigli-di-giardinaggio/" title="blog di giardinaggio, orto e giardino">Le ultimissime notizie dal blog:</a>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h3>
          &#9752; <mark>{{ post.title }}</mark> <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> .. continua </a>
        </h3>
      </li>
    {% endfor %}
  </ul>

</div>

<script>var myIndex=0;function carousel(){var e,l=document.getElementsByClassName("mySlides");for(e=0;e<l.length;e++)l[e].style.display="none";++myIndex>l.length&&(myIndex=1),l[myIndex-1].style.display="block",setTimeout(carousel,2e3)}carousel();</script>
