<footer>
  <a title="Il profilo Facebook di potasiepe_giardiniere_fvg" href="https://www.facebook.com/potasiepe/" target="_blank"><img src="/img/facebook48.png" width="48" height="48" alt="Facebook" title="Facebook"></a>
  <h4>PotaSiepe giardiniere</h4>
  <p>
   Servizi di giardinaggio a domicilio in un raggio di 40 Km da
   <br/>
   33052 Cervignano del Friuli, UD
   <br/>
   <strong>&#9742; 388 9005 888</strong>
  </p>
  <div class="text-center">
    <ul class="ul-footer">
      <li class="footer-links"><a href="/chi-sono/" title="Chi sono e Come lavoro">Chi sono</a>
      </li>
      <li class="footer-links"><a href="/gallery/" title="Vai alla gallery, guarda alcune fotografie che mostrano il giardiniere PotaSiepe all'opera nei giardini di Udine e del Friuli">Gallery</a>
      </li>
      <li class="footer-links"><a href="https://www.misterimprese.it/friuli-venezia-giulia/udine/cervignano-del-friuli/giardinaggio-servizi/2571124.html" title ="scopri gli orari di apertura di PotaSiepe su Misterimprese">Orari</a>
      </li>
      <li class="footer-links"><a href="/sitemap.html" title ="SiteMap">Sitemap</a>
      </li>
    </ul>
  </div>
  <p class="cookie">Continuando la navigazione confermi di accettare le politiche del sito in materia di <a title ="cookie policy" href="/cookie/">Cookie e Pubblicit&agrave;</a>.</p>
  <p class="cookie"><a href="/condizioni-generali-di-vendita" title="Condizioni generali di vendita">Condizioni generali di vendita</a></p>
</footer>
