.cookie-message {
  position: fixed;
  width: 100%;
  min-height: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000000, 0.89);
  z-index: 99;
}

.cookie-message p {
      color: rgba(#ffffff, 0.8);
      font-weight: 600px;
      font-size: 0.7em;
      padding: 0.7em 8em 0.7em 2em;
      width:95%;
      margin-top: 0;
      margin-bottom: 0;
}

.cookiebar-close {
  position: absolute;
  right: 1em;
  top: 0.45em;
  padding: 0.4em;
  background: green;
  cursor: pointer;
}

a.cookiebar-close {
  color: white;
}
