.photo-gallery {
  overflow: hidden;
  margin-left: -43px;
  ul {
    margin: 0 auto;
  }
  li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    overflow: hidden;
    img {
      width: 280px;
      height: 280px;
    }
  }
}
