.page-content {
  margin: 0 auto;
  text-align: justify;
  line-height: 1.8;
  img {
    display: block;
    margin: auto;
    padding: 16px 0 16px 0;
  }
}

@media (max-width: 400px) {
.rc-anchor-normal {
    transform: matrix(0.8, 0, 0, 1, -30, 0);
  }
}
