.sidebarShortcuts {
  position: fixed;
  top: 600px;
  right: 0;
  z-index: 16;
  a {
    background: #00e000;
    height: 52px;
    margin-bottom: 2px;
    padding: 9px;
  }
  .shortcut {
    display: block;
    position: relative;
    padding-bottom: 2px;
    width: 48px;
    .details {
      position: absolute;
      right: 0px;
      top: 0;
      width: 270px;
      height: 52px;
      z-index: 10;
      background: #00e000;
      opacity: 0;
      transform: translateX(150px);
      backface-visibility: hidden;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: #000;
      font-weight: 900;
      letter-spacing: 2px;
      padding: 20px;
      span {
        position: relative;
        &:after {
          content: "";
          height: 2px;
          background: #fff;
          width: 0%;
          display: block;
          position: absolute;
          top: auto;
          bottom: -4px;
          left: 0;
          backface-visibility: hidden;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
        &.active:after, &:hover:after {
          width: 100%;
        }
      }
    }
    &:hover .details {
      transform: translateX(-50px);
      opacity: 1;
    }
  }
  .whatsapp {
    display: none;
  }
}
.sidebarShortcuts .shortcut.phone a{
  background: #00e000;
}

@media screen and (max-height: 750px) {
  .sidebarShortcuts {
    top: auto;
    bottom: 60px;
  }
}

@media (max-height: 500px) and (min-width: 600px) {
  .sidebarShortcuts {
    display: none;
  }
}

@media screen and (min-height: 800px) {
  .sidebarShortcuts {
    top: auto;
    bottom: 140px;
  }
}

@media only screen and (max-width: 600px) {
  .sidebarShortcuts {
    bottom: 0px;
    top: auto;
    left: 0;
    right: 0;
    width: 100%;
    background: transparent;
    padding: 5px 10px;

    .shortcut {
      box-shadow: 0 2px 5px #000;
      width: 32%;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .sidebarShortcuts .shortcut .details {
    display: none;
  }
  .sidebarShortcuts svg {
    width: 36px;
    height: 36px;
  }
  .sidebarShortcuts a {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 650px) {
  .sidebarShortcuts .shortcut .details span:after {
    background: transparent;
  }
}

@media only screen and (max-width: 600px) {
  .sidebarShortcuts .shortcut.phone {
    float: left;
  }
}

@media only screen and (max-width: 600px) {
  .sidebarShortcuts .shortcut.mail {
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }
}

@media only screen and (max-width: 600px) {
  .sidebarShortcuts .shortcut.whatsapp {
    display: block;
    float: right;
  }
}
