---
layout: page
title: Articoli Giardinaggio
heading: I nostri prodotti
permalink: /vendita-online-prodotti-per-giardinaggio/
last_modified_at: 2018-12-29
---
<h2>Calendario di Giardinaggio 2019</h2>
<div class="list-collection">
  <a href="/contatti/" title="prenota il calendario da parete dei lavori in giardino 2019">
  <div class="name">CALENDARIO AGENDA LAVORI IN GIARDINO E NELL'ORTO 2019 BY POTASIEPE</div>
  <img src="/img/posts/calendario-di-giardinaggio.png" alt="calendario di giardinaggio 2019">
  <div class="position">
    <strong>EUR 10,00</strong> - PRODOTTO COME DA FOTO CALENDARIO DA PARETE MISURE 30 X 21 CM
    <br/> <strong>PRENOTALO</strong>, ti verrà recapitato entro 3 giorni.
  </div>
  </a>
</div>

<br/><br/>

<h2>Taglierba e Rasaerba</h2>
<div class="list-collection">
<ul>
{% for tagliaerba_rasaerba in site.tagliaerba_rasaerba %}
	<li>
		<a href="{{ site.baseurl }}{{ tagliaerba_rasaerba.url }}">
			<div class="name">{{ tagliaerba_rasaerba.name }}</div>
			<img src="{% include relative-src.html src=tagliaerba_rasaerba.image_path %}" alt="{{ person.name }}">
			<div class="position">{{ tagliaerba_rasaerba.subtitle }}</div>
		</a>
	</li>
{% endfor %}
</ul>
</div>
