---
layout: compress
---
<!DOCTYPE html>
<html lang="it-IT">
{% include head.html %}
<body>
{% include header.html %}
<div class="wrapper">
  {% include breadcrumbs.html path=page.path title=page.title %}
  <div class="content">
    {{ content }}
  </div>
</div>
{% include sidebar-shortcuts.html %}
{% include footer.html %}
<script src="{{ site.baseurl }}/js/jquery-3.3.1.min.js"></script>
<script src="{{ site.baseurl }}/js/cookiebar.js"></script>
<script>
    $(document).ready(function() {
      $.cookieBar();
    });
</script>
<script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/service-worker.js');
  });
}
</script>
</body>
</html>
