---
layout: default
---
<main id='product-page'
      itemscope
      itemtype='http://schema.org/Product'
      data-name='{{ page.name | escape }}'>

      <h1 itemprop='name'>{{ page.name }}</h1>
      <div class="img-container">
      <img src="{{ page.image }}" alt="{{ page.name}}" title="{{ page.name }}" itemprop='image'/>
      </div>
      <link itemprop="availability" href="http://schema.org/InStock" />
      <meta itemprop="itemCondition" content="https://schema.org/NewCondition" />
      <br/>
      <div itemprop='description' class='description'>
        <h2 class="h3">Dettagli prodotto </h2>
        <p>Descrizione: <b>Olivo secolare {{ page.excerpt }}</b><p>
        <p>Disponibilità: <b>Pronta consegna</b></p>
        <p itemprop='brand' content='{{ page.brand }}'>Provenienza: <b>Vivai {{ page.brand }}</b></p>
        <p itemprop='sku' content='{{ page.sku }}'>Codice: <b>{{ page.sku }}</b></p>
        <meta itemprop="mpn" content='{{ page.sku }}-mpn' />
        <meta itemprop="url" href='{{ page.url | prepend: site.baseurl | prepend: site.url }}' />
        <p itemprop='offers' itemscope itemtype='http://schema.org/Offer'>
        <link itemprop="availability" href="http://schema.org/InStock" />
        Prezzo:
        <b>
          <meta itemprop="priceValidUntil" content="2021-12-31" />
          <span itemprop='priceCurrency' content='EUR'>€</span>
          <span itemprop='price' content='{{ page.price }}'>{{ page.price }}</span>
        </b>
        </p>
      </div>
      <br/>
      <div itemprop='aggregateRating'
        itemscope itemtype='http://schema.org/AggregateRating'>
        Recensioni
        <span style="color: yellow; font-size:22px;">&#9733;&#9733;&#9733;&#9733;&#10025;</span>
        <span itemprop='ratingValue' content='{{ page.ratingValue }}'></span>
        <span itemprop='reviewCount' content='{{ page.reviewCount }}'>{{ page.review }}</span>
      </div>
      <br/>
      <p>
      <a title="Contatti" href="/contatti/" class="button">CONTATTACI</a>
      </p>
      <br/>
      <a href="/vivaio/#ulivi" title="Confronta con altri ulivi secolari"><b>Confronta con altri ulivi secolari</b></a>
      <h2 class="h3">L'ulivo: caratteristihe</h2>
      <p><b>Olivi</b>, o ulivi (Olea europaea) sono alberi sempreverdi secolari a crescita lenta che, se non vengono potati, raggiungono anche 9 - 12 metri di altezza e 7 - 9 metri di chioma. Con l'età aumenta la nodosità del tronco e con essa la bellezza e il fascino dell'olivo. A seconda dello stile di potatura e del clima possono produrre frutti, le olive. Gli olivi vanno potati appena piantati, eliminando il germoglio portante quando l'albero è alto circa 1,5 m; si scelgono tre o quattro forti rami laterali per creare la struttura portante dei rami dell'albero. La potatura seguente consiste nel rimuovere i rami più vecchi per favorire la crescita di nuovi germogli, dal momento che le olive sono prodotte su legno nuovo di un anno, soprattutto alle estremità dei rami.</p>
</main>
